# Project dependencies
.cache
/frontend/node_modules
package-lock.json
/node_modules

# Build directory
/frontend/dist
.DS_Store
.env
.env.local
.env.development
.envAiderSample

/web
github-profile-readme.md


# Local Netlify folder
.netlify
.aider*
.next
