@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/SourceSansPro-Regular.eot');
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url('/fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SourceSansPro-Regular.woff2') format('woff2'),
    url('/fonts/SourceSansPro-Regular.woff') format('woff'),
    url('/fonts/SourceSansPro-Regular.ttf') format('truetype'),
    url('/fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/SourceSansPro-Italic.eot');
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
    url('/fonts/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SourceSansPro-Italic.woff2') format('woff2'),
    url('/fonts/SourceSansPro-Italic.woff') format('woff'),
    url('/fonts/SourceSansPro-Italic.ttf') format('truetype'),
    url('/fonts/SourceSansPro-Italic.svg#SourceSansPro-Italic') format('svg');
}
