---
import Post from '../components/Posts.astro'
---

<section>
  <form action="/">
    <select
      name="options"
      class="my-[16px] w-full rounded-lg border bg-transparent p-2 text-white md:w-[20%] lg:w-full"
    >
      <option value="default">All the things...</option>
      <option value="development">Development</option>
      <option value="golf">Golf</option>
      <option value="projects">Projects</option>
    </select>
  </form>
  <div class="post-container">
    <Post />
    <Post />
    <Post />
    <Post />
    <Post />
  </div>
</section>
<style>
  .post-container {
    @apply flex flex-col md:flex-row md:justify-between lg:mx-2 lg:flex-col;
  }
</style>
