<div class="flex flex-col justify-center w-full">
  <form
    method="POST"
    name="contact"
    action="/confirmation"
    netlify-honeypot="bot-field"
    data-netlify="true"
    class="max-w-[600px]"
  >
    <input type="hidden" name="form-name" value="contact" />
    <p class="hidden" style={{display: "none"}}>
      <label>
        Don&#x27;t fill this out if you&#x27;re human:
        <input name="bot-field" />
      </label>
    </p>
    <div class="grid grid-cols-1 gap-6">
      <div class="flex flex-col justify-between md:flex-row">
        <div class="mb-6 flex-grow md:mr-3 md:mb-0 lg:mb-0">
          <label class="block">
            <span class="sr-only">name</span>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Name"
              required
              class="mt-1 p-4
          block
          w-full
          rounded-md
          border-transparent
          bg-gray-100
          transition-[border] focus:border-gray-500 focus:bg-white focus:ring-0"
            />
          </label>
        </div>
        <div class="flex-grow md:ml-3">
          <label class="block">
            <span class="sr-only">email</span>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              required
              class="mt-1 p-4
          block
          w-full
          rounded-md
          border-transparent
          bg-gray-100
          transition-[border] focus:border-gray-500 focus:bg-white focus:ring-0"
            />
          </label>
        </div>
      </div>
      <label class="block">
        <span class="sr-only">message</span>
        <textarea
          name="message"
          id="message"
          placeholder="Message"
          rows="4"
          required
          class="mt-1 p-4
          block
          w-full
          rounded-md
          border-transparent
          bg-gray-100
          transition-[border] focus:border-gray-500 focus:bg-white focus:ring-0"
        ></textarea>
      </label>
    </div>
    <p class="actions mt-6">
      <button
        class="rounded-full bg-dark px-6 py-3 text-white hover:opacity-70 transition-all duration-300"
        type="submit"
      >
        Send Message
      </button>
    </p>
  </form>
</div>
