<div>
  <!-- With grid -->
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <!-- Column #1 -->
    <div class="grid gap-4">
      <div class="block w-[232px] h-[290px] bg-white rounded"></div>
      <div class="block w-[232px] h-[290px] bg-white rounded"></div>
      <div class="block w-[232px] h-[174px] bg-white rounded"></div>
    </div>
    <!-- Column #2 -->
    <div class="grid gap-4">
      <div class="block w-[232px] h-[155px] bg-white rounded"></div>
      <div class="block w-[232px] h-[349px] bg-white rounded"></div>
      <div class="block w-[232px] h-[250px] bg-white rounded"></div>
    </div>
    <!-- Column #3 -->
    <div class="grid gap-4">
      <div class="block w-[232px] h-[349px] bg-white rounded"></div>
      <div class="block w-[232px] h-[155px] bg-white rounded"></div>
      <div class="block w-[232px] h-[250px] bg-white rounded"></div>
    </div>
    <!-- Column #4 -->
    <div class="grid gap-4">
      <div class="block w-[232px] h-[290px] bg-white rounded"></div>
      <div class="block w-[232px] h-[155px] bg-white rounded"></div>
      <div class="block w-[232px] h-[309px] bg-white rounded"></div>
    </div>
  </div>
</div>
