<button class="button group relative z-20 block lg:hidden">
  <div
    class="relative flex h-12 w-12 transform items-center justify-center overflow-hidden transition-all duration-200"
  >
    <div
      class="flex h-5 w-5 origin-center transform flex-col justify-between overflow-hidden transition-all duration-300"
    >
      <div
        class="top-bar h-0.5 w-7 origin-left transform bg-white transition-all duration-300"
      >
      </div>
      <div
        class="middle-bar h-0.5 w-1/2 transform rounded bg-white transition-all duration-300"
      >
      </div>
      <div
        class="bottom-bar h-0.5 w-7 origin-left transform bg-white transition-all duration-300"
      >
      </div>
    </div>
  </div>
</button>