---
import {Image} from "astro:assets";
import image from "../assets/images/avatar.jpg";
import NavItems from "./NavItems.astro";
---

<header
  class="bg-white text-dark lg:col-span-2 col-span-9 transition-all h-full lg:h-screen px-4 pt-6 lg:pt-10 lg:px-0 relative flex flex-col justify-center"
>
  <a href="/" class="lg:mx-auto lg:mb-24 text-center">
    <Image
      src={image}
      format={"webp"}
      sizes="(max-width: 414px) 65px (max-width: 1139px) 80px, 80px (min-width: 1140px) 100px, 100px"
      alt="avatar"
      class="avatar h-[80px] w-[80px] rounded-full transition-all duration-500 ease-in-out lg:h-[100px] lg:w-[100px] mb-3.5"
    />
    <span class="font-bold text-xl hidden lg:block">Kyle Ross</span>
  </a>
  <nav
    class="lg:w-full lg:h-screen flex-col align-middle relative hidden lg:block"
  >
    <NavItems />
  </nav>
</header>
