---
import {Image} from "astro:assets";
import image from "../assets/images/avatar.jpg";
---

<header
  class="mb-4 grid grid-rows-1 lg:grid-cols-1 lg:justify-items-center content-between lg:w-[10%] lg:fixed lg:z-50 lg:top-0 lg:left-0 lg:h-[100vh] h-[90px] bg-gradient-to-t from-[#242F40] to-[#323F54] px-4 py-2.5 text-white drop-shadow-3xl lg:px-[20px] lg:py-[24px] lg:drop-shadow-none"
>
  <nav
    class="lg:items-center flex flex-row lg:flex-col justify-between lg:justify-normal lg:flex-none"
  >
  <a href="/">
    <Image
      src={image}
      format={"avif"}
     
     
      sizes="(max-width: 414px) 65px (max-width: 1139px) 80px, 80px (min-width: 1140px) 100px, 100px"
      alt="avatar"
      class="avatar h-[70px] w-[70px] rounded-full border-8 border-[#242F40] transition-all duration-500 ease-in-out lg:h-[100px] lg:w-[100px]"
    />
  </a>

    <ul
      class="nav-items fixed left-0 top-0 z-10 h-screen w-screen overflow-auto bg-zinc-900 pt-[20%] text-center opacity-0 transition-opacity duration-200 ease-in-out sm:hidden lg:relative lg:block lg:h-auto lg:min-h-full lg:w-auto lg:bg-transparent lg:text-left lg:opacity-100"
    >
      <li class="nav-item mb-6">
        <a
          href="/"
          class="nav-link active block align-middle text-2xl transition-all duration-1000 ease-in-out after:mt-[3px] after:block after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 after:ease-in-out lg:text-lg lg:hover:after:w-full"
          ><i class="fa-solid fa-user nav-icon mr-2.5"></i>About</a
        >
      </li>
      <li class="nav-item mb-6">
        <a
          href="/contact"
          class="nav-link block align-middle text-2xl transition-all duration-1000 ease-in-out after:mt-[3px] after:block after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 after:ease-in-out lg:text-lg lg:hover:after:w-full"
          ><i class="fa-solid fa-envelope mr-2.5"></i>Contact</a
        >
      </li>
      <li class="nav-item mb-6">
        <a
          href="https://github.com/badger3000"
          class="nav-link block align-middle text-2xl transition-all duration-1000 ease-in-out after:mt-[3px] after:block after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 after:ease-in-out lg:text-lg lg:hover:after:w-full"
        >
          <i class="fa-brands fa-github mr-2.5"></i>GitHub</a
        >
      </li>
      <li class="nav-item mb-6">
        <a
          href="https://www.linkedin.com/in/badger816/"
          class="nav-link block align-middle text-2xl transition-all duration-1000 ease-in-out after:mt-[3px] after:block after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 after:ease-in-out lg:text-lg lg:hover:after:w-full"
          ><i class="fa-brands fa-linkedin mr-2.5"></i>LinkedIn</a
        >
      </li>
    </ul>
    <button class="button group relative z-20 block lg:hidden">
      <div
        class="relative flex h-12 w-12 transform items-center justify-center overflow-hidden transition-all duration-200"
      >
        <div
          class="flex h-5 w-5 origin-center transform flex-col justify-between overflow-hidden transition-all duration-300"
        >
          <div
            class="top-bar h-0.5 w-7 origin-left transform bg-white transition-all duration-300"
          >
          </div>
          <div
            class="middle-bar h-0.5 w-1/2 transform rounded bg-white transition-all duration-300"
          >
          </div>
          <div
            class="bottom-bar h-0.5 w-7 origin-left transform bg-white transition-all duration-300"
          >
          </div>
        </div>
      </div>
    </button>
  </nav>
  <p class="mb-2 text-xs whitespace-nowrap lg:mb-0 lg:block hidden">
    &copy Mad Badger Studios LLC
  </p>
</header>
<style>
  .nav-items.mobile-menu {
    @apply opacity-100 sm:block;
  }

  .nav-link.active {
    @apply lg:after:w-full;
  }

  .top-bar.animate {
    @apply group-focus:rotate-[42deg];
  }

  .middle-bar.animate {
    @apply group-focus:-translate-x-10;
  }
  .bottom-bar.animate {
    @apply group-focus:-rotate-[42deg];
  }
</style>
