---
import {Image} from "astro:assets";
import image from "../assets/images/avatar.jpg";
import NavItems from "./NavItems.astro";
---

<header class="lg:fixed lg:grid lg:grid-cols-9 w-full col-span-9">
  <div
    class="bg-white text-dark px-4 py-4 lg:pt-10 lg:px-0 relative col-span-9 lg:col-span-2 transition-all h-full lg:h-screen w-full"
  >
    <div class="flex flex-col justify-center">
      <a
        href="/"
        class="lg:mx-auto lg:mb-24 text-center inline-block h-[65px] w-[65px] lg:h-[100px] lg:w-[100px]"
      >
        <Image
          src={image}
          format={"webp"}
          sizes="(max-width: 414px) 65px (max-width: 1139px) 80px, 80px (min-width: 1140px) 100px, 100px"
          alt="avatar"
          class="avatar h-[65px] w-[65px] rounded-full transition-all duration-500 ease-in-out lg:h-[100px] lg:w-[100px] mb-3.5"
        />
        <span class="font-bold text-xl hidden lg:block">Kyle Ross</span>
      </a>
      <nav
        class="lg:w-full lg:h-screen flex-col align-middle relative hidden lg:block"
      >
        <NavItems />
      </nav>
    </div>
  </div>
</header>
