---
import {Image} from "astro:assets";
import image from "../assets/images/avatar.jpg";
import NavItems from "./NavItems.astro";
---

<header
  class="bg-white text-dark lg:col-span-2 col-span-9 transition-all lg:h-screen lg:pt-10 relative flex flex-col justify-center"
>
  <a
    href="/"
    class="w-[80px] h-[80px] lg:w-[100px] lg:h-[100px] lg:mx-auto lg:mb-24 text-center"
  >
    <Image
      src={image}
      format={"webp"}
      sizes="(max-width: 414px) 65px (max-width: 1139px) 80px, 80px (min-width: 1140px) 100px, 100px"
      alt="avatar"
      class="avatar h-[100px] w-[100px] rounded-full transition-all duration-500 ease-in-out lg:h-[100px] lg:w-[100px mb-3.5"
    />
    <span class="font-bold text-xl">Kyle Ross</span>
  </a>
  <nav
    class="lg:w-full lg:h-screen lg:flex flex-col align-middle relative hidden"
  >
    <NavItems />
  </nav>
</header>
