---
import AlgoliaSearch from "../components/AlgoliaSearch.jsx";
export interface Props {
  pageTitle: string;
}

const {pageTitle} = Astro.props;
---

<section class="grid lg:grid-cols-7 lg:pl-12 col-span-9 gap-5">
  <h1
    class="text-4xl font-bold text-secondary lg:col-span-2 order-last lg:order-first"
  >
    {pageTitle}
  </h1>
  <div class="flex flex-row items-center lg:col-span-5">
    <AlgoliaSearch client:load />
  </div>
</section>
