---
import { Image }from 'astro:assets'

export interface Props {
  title: string
  url: string
  type?: string
  image?: any
}
const {
  title = 'Default Title Text',
  url = '/',
  image,
  type,
} = Astro.props as Props
---

<a
  href={`/${type}/${url}`}
  class="relative mb-3 block transition-all duration-300 ease-in-out md:mr-2 md:text-sm lg:mr-0 lg:hover:translate-y-[-3px]"
>
  <article
    class="overflow-hidden after:absolute after:bottom-0 after:top-0 after:block after:h-full after:w-full after:rounded-l-lg after:rounded-r-lg after:bg-gradient-to-t after:from-black after:from-5% after:to-transparent after:to-60% after:opacity-60 relative"
  >
    <Image
      src={image}
      width="100px"
      height="100px"
      sizes="(max-width: 414px) 100vw"
      alt="Thumbnail"
      class="left-[16px] top-[16px] rounded-lg"
    />
    <h2 class="absolute bottom-0 z-[2] p-4 text-white line-clamp-2 text-md">
      {title}
    </h2>
  </article>
</a>
