---
import PieChart from '../components/PieChart.astro'
---

<section
  class="mx-4 flex flex-col text-white lg:mx-0 lg:mt-4 lg:min-h-[500px] lg:flex-row"
>
  <div class="basis-3/4 rounded-lg bg-[#242F40] p-4 lg:col-span-8">
    <h2>Skills</h2>
    <div class="flex min-h-[214px] flex-col lg:flex-row">
      <div class="h-auto basis-1/2">
        <ul
          class="skills-list h-full w-full border-dashed pr-3 lg:border-r-2 lg:pt-6"
        >
          <li>Problem Solving</li>
          <li>Problem Solving</li>
          <li>Problem Solving</li>
          <li>Problem Solving</li>
        </ul>
      </div>
      <div class="skills-list h-full basis-1/2 pr-3 lg:pt-6">
        <ul>
          <li>Problem Solving</li>
          <li>Problem Solving</li>
          <li>Problem Solving</li>
          <li>Problem Solving</li>
        </ul>
      </div>
    </div>
    <div class="flex flex-row flex-nowrap justify-between py-6">
      <PieChart
        icon="html5"
        iconPackage="brands"
        title="HTML5"
        percent={90}
        offset={10}
      />
      <PieChart
        icon="css3"
        iconPackage="brands"
        title="CSS"
        percent={80}
        offset={20}
      />
      <PieChart
        icon="js"
        iconPackage="brands"
        title="JavaScript"
        percent={80}
        offset={20}
      />
      <PieChart
        icon="react"
        iconPackage="brands"
        title="ReactJS"
        percent={75}
        offset={25}
      />
    </div>
  </div>
  <div
    class="mx-4 mb-0 mt-[-16px] basis-1/4 rounded-lg bg-[#CCA43B] p-4 drop-shadow-md lg:col-span-3 lg:mb-4 lg:ml-[-16px] lg:mr-0 lg:mt-4"
  >
    <div>
      <h2 class="mb-2 text-center text-3xl lg:text-left lg:text-2xl">
        Kyle Ross
      </h2>
      <p class="mb-4 text-sm">I build things for the internet</p>
      <p class="text-xs">
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that it has a more-or-less normal distributio
      </p>
    </div>
  </div>
</section>
<style>
  .skills-list li {
    @apply mb-6 text-right;
  }
</style>
