---
export interface Props {
  pageTitle: string;
}

const {pageTitle} = Astro.props;
---

<div class="lg:col-span-7 col-span-9">
  <section class="flex flex-row items-center w-full py-14 justify-items-start">
    <h1 class="text-4xl font-bold text-secondary mr-14">{pageTitle}</h1>
    <div class="bg-white rounded-full py-2" transition:persist>
      <input
        class="px-4 py-1 bg-transparent text-dark focus:outline-none min-w-[560px]"
        type="text"
        placeholder="Search..."
      />
      <button class="hover:bg-gray-700bg-white font-bold py-2 px-4 rounded">
        <i class="fa-solid fa-search text-secondary text-2xl"></i></button
      >
    </div>
  </section>
  <slot />
</div>
