---
import PageHeader from "../components/PageHeader.astro";

export interface Props {
  pageTitle: string;
}

const {pageTitle} = Astro.props;
---

<div class="lg:col-span-7 lg:col-start-3 col-span-9 lg:py-16 px-6 lg:px-0">
  <PageHeader pageTitle={pageTitle} />
  <slot />
</div>
