---
import { Picture } from '@astrojs/image/components'
import thumbnail from '../assets/thumbnail.jpg'
---

<section>
  <form action="/">
    <select
      name="options"
      class="my-[16px] w-full rounded-lg border bg-transparent p-2 text-white"
    >
      <option value="default">All the things...</option>
      <option value="development">Development</option>
      <option value="golf">Golf</option>
      <option value="projects">Projects</option>
    </select>
  </form>
  <div class="grid grid-flow-col lg:grid-flow-row">
    <a
      href="/artical/post"
      class="relative block transition-all duration-300 ease-in-out lg:min-h-[160px] lg:hover:translate-y-[-3px]"
    >
      <article class="mb-[16px] overflow-hidden">
        <Picture
          src={thumbnail}
          widths={[500]}
          height={160}
          sizes="(max-width: 414px) 100vw"
          alt="Thumbnail"
          class="left-[16px] top-[16px] rounded-lg"
        />
        <h2 class="text-md absolute bottom-[16px] left-[16px] text-white">
          Lorem Ipsum is simply dummy text of the printin
        </h2>
      </article>
    </a>
    <a
      href="/artical/post"
      class="relative block transition-all duration-300 ease-in-out lg:min-h-[160px] lg:hover:translate-y-[-3px]"
    >
      <article class="overflow-hidden">
        <Picture
          src={thumbnail}
          widths={[500]}
          height={160}
          sizes="(max-width: 414px) 100vw"
          alt="Thumbnail"
          class="left-[16px] top-[16px] rounded-lg"
        />
        <h2 class="text-md absolute bottom-[16px] left-[16px] text-white">
          Lorem Ipsum is simply dummy text of the printin
        </h2>
      </article>
    </a>
  </div>
</section>
