---
import { Image } from '@astrojs/image/components'
---

<nav
  class="flex flex-row px-[20px] py-[24px] text-white lg:flex-col lg:items-center"
>
  <Image
    src={'./images/avatar.png'}
    alt="Avatar"
    width={85}
    height={85}
    class="mb-[27px] rounded-full border-8 border-[#242F40]"
  />
  <ul class="hidden lg:block">
    <li class="nav-item mb-6">
      <a href="/" class="nav-link active"
        ><i class="fa-solid fa-user nav-icon mr-[10px]"></i>About</a
      >
    </li>
    <li class="nav-item mb-6">
      <a href="/contact" class="nav-link"
        ><i class="fa-solid fa-envelope mr-[10px]"></i>Contact</a
      >
    </li>
    <li class="nav-item mb-6">
      <a href="https://github.com/badger3000" class="nav-link">
        <i class="fa-brands fa-github mr-[10px]"></i>GitHub</a
      >
    </li>
    <li class="nav-item mb-6">
      <a href="https://www.linkedin.com/in/badger816/" class="nav-link"
        ><i class="fa-brands fa-linkedin mr-[10px]"></i>LinkedIn</a
      >
    </li>
  </ul>
</nav>
<style>
  .nav-link {
    @apply block align-middle text-lg transition-all duration-1000 ease-in-out after:mt-[3px] after:block after:h-[2px] after:w-0 after:bg-white after:transition-all after:duration-300 after:ease-in-out hover:after:w-full;
  }
  .nav-link.active {
    @apply after:w-full;
  }
</style>
