---
import { Image } from '@astrojs/image/components'
---

<nav>
  <ul>
    <li><a href="/">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="https://github.com/badger3000">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/badger816/">LinkedIn</a></li>
  </ul>
</nav>
