---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="About Me">
  <div class="col-span-16 lg:col-span-11">
    <div
      class="flex flex-col w-full text-white items-center h-screen align-middle"
    >
      <h1 class="text-4xl text-white">AboutMe</h1>
      <ContactForm />
    </div>
  </div>
</Layout>
