---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Contact Me">
  <div class="col-span-16 mx-[16px] lg:col-span-3 lg:mx-0">
    <!-- Column 2 content here -->
    <h1 class="text-4xl text-white">Contact Me</h1>
  </div>
  <div class="col-span-16 lg:col-span-11">
    <!-- Column 3 content here -->
  </div>
</Layout>
