---
import Layout from "../layouts/Layout.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<Layout title="The Badger3000 - Quility Web Development since 2009">
  <PageLayout pageTitle="Topics">
    <seciton class="grid lg:grid-cols-7 col-span-9 gap-5">
      <div class="lg:col-start-3 lg:col-span-4 py-6">
        <nav
          class="flex flex-row flex-wrap gap-12 text-2xl font-medium py-6 items-center"
        >
          <button
            class="opacity-100 relative pb-2 after:block after:h-1 after:absolute after:bg-secondary after:w-full after:bottom-0"
            >Golf</button
          >
          <button class="opacity-60 hover:opacity-100 transition-all pb-2"
            >Skateboarding</button
          >
          <button class="opacity-60 hover:opacity-100 transition-all pb-2"
            >Tech</button
          >
          <button class="opacity-60 hover:opacity-100 transition-all pb-2"
            >Codepen</button
          >
          <button class="opacity-60 hover:opacity-100 transition-all pb-2"
            >Codepen</button
          >
        </nav>
      </div>
    </seciton>
  </PageLayout>
</Layout>
