---
import Layout from "../layouts/Layout.astro";
import Articals from "../components/PostPreviews.astro";
import CodePens from "../components/CodePens.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="The Badger3000 - Quility Web Development since 2009">
  <div class="col-span-16 mx-4 lg:col-span-3 lg:mx-0">
    <!-- Column 2 content here -->
    <Articals />
  </div>
  <div class="col-span-16 lg:col-span-11">
    <!-- Column 3 content here -->
    <CodePens />
    <Skills />
  </div>
</Layout>
